.App {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
body{
  background-image: url("https://img.freepik.com/free-vector/halloween-background-flat-design_52683-43845.jpg?w=1800&t=st=1665965285~exp=1665965885~hmac=2c3c48cae09af6f27609a309ee6c6f2f0f0a46a045ee6249db243a9be8601e10");
 background-size: 100%;
  
}
.btn{
  border: none;
  padding: 15px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: 'Fuzzy Bubbles', cursive;
}
p{
  font-family: 'Fuzzy Bubbles', cursive;
  padding: 15px;
  background-color: #FFD384;
  color: black;
  font-size: 35px;
}
h1{
  font-family: 'Fuzzy Bubbles', cursive;
  background-color: #FF884B;
  padding: 15px;
}